<html>
<head>
    <title>About Us</title>
</head>
<body style="background-color: rgb(80,200,170);">
    <!--Body Starts Here-->
    <div class="container-fluid">
        <!--Slider Starts-->
        <div class="row">
            <div id="jssor_1" style="position: relative; margin: 0 auto; width: 1300px; height: 450px; overflow: hidden; visibility: hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('../../Slider/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" style="cursor: default; position: relative;width: 1300px; height: 500px; overflow: hidden;">
                    <div data-p="225.00" style="display: none;">
                        <img data-u="image" src="~/Slider/img/New-folder/2.jpg" />
                    </div>
                    <div data-p="225.00" style="display: none;">
                        <img data-u="image" src="~/Slider/img/New-folder/1.jpg" />
                    </div>
                    <div data-p="225.00" style="display: none;">
                        <img data-u="image" src="~/Slider/img/New-folder/3.jpg" />
                    </div>
                    <div data-p="225.00" style="display: none;">
                        <img data-u="image" src="~/Slider/img/New-folder/4.jpg" />
                    </div>
                    <div data-p="225.00" style="display: none;">
                        <img data-u="image" src="~/Slider/img/New-folder/5.jpg" />
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb05" style="bottom:40px; right:16px;" data-autocenter="1">
                    <!-- bullet navigator item prototype -->
                    <div data-u="prototype" style="width:25px;height:25px;">
                        <img src="~/Slider/img/b05.png">
                    </div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora22L" style="left:12px;width:50px;height:70px;" data-autocenter="2">
                    <img src="~/Slider/img/a22.png" style="margin-left:-15px; margin-top:-30px;">
                </span>
                <span data-u="arrowright" class="jssora22R" style="right:12px;width:50px;height:70px;" data-autocenter="2">
                    <img src="~/Slider/img/a22.png" style="margin-left:-70px; margin-top:-30px;">
                </span>
            </div>
            <div id="slider-search">
                <form action="~/Eplanner/Hotels">
                    <div class="col-lg-12 form-inline">
                        <div class="input-group" style="width:31%; margin-left:1%;" id="slider-input">
                            <div class="input-group-addon">Check In</div>
                            <input type="date" class="form-control" placeholder="">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                        <div class="input-group" style="width:31%; margin-left:1%;" id="slider-input">
                            <div class="input-group-addon">Check Out</div>
                            <input type="date" class="form-control" placeholder="">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                        <div class="input-group" id="slider-input" style="width:30%; margin-left:1%; border-radius:5px;">
                            <input list="city" name="city" class="form-control" placeholder="--Select City--" style="">
                            <datalist id="city">
                                <option>Lahore</option>
                                <option>Islamabad</option>
                                <option>Karachi</option>
                                <option>Multan</option>
                                <option>faisalbad</option>
                                <option>Peshawar</option>
                                <option>Azad Kashmir</option>
                                <option>Sawat</option>
                                <option>Quetta</option>
                                <option>Shaikhupura</option>
                                <option>Gujrat</option>
                                <option>Gujrawnwala</option>
                                <option>Rawalpindi</option>
                                <option>Hyderabad</option>
                                <option>Sialkot</option>
                                <option>Sargodha</option>
                                <option>Gilgit</option>
                                <option>Chitrl</option>
                                <option>Sukkar</option>
                                <option>Jhelum</option>
                                <option>Sahiwal</option>
                                <option>Jhang</option>
                            </datalist>
                        </div>
                        <input type="submit" value="Check Availability" class="tm-yellow-btn" style="margin-left:42%; width:180px; margin-top:1%; border-radius:5px;">
                    </div>
                </form>
            </div>
        </div>
        <!--Slider Ends-->
    </div>

    <div class="container">
        <div class="row section-margin-top" style="margin-top:14%;">
            <div class="tm-section-header" style="margin-top:-5%;">
                <div class="col-lg-4 col-md-4 col-sm-4"><hr style="margin-top:9%; margin-left:5%;"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h2 class="tm-section-title" style="font-family:cursive;">About Us</h2></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><hr style="margin-top:9%; margin-left:3%;"></div>
            </div>
        </div>
        <div class="row" style="margin-top:-4%;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tm-about-box-1">
                    <a href="#"><img src="~/Images/img/about-4.jpg" alt="img" class="tm-about-box-1-img"></a>
                    <h3 class="tm-about-box-1-title">Thomas <span>( Founder )</span></h3>
                    <p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="gray-text">
                        <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tm-about-box-1">
                    <a href="#"><img src="~/Images/img/about-5.jpg" alt="img" class="tm-about-box-1-img"></a>
                    <h3 class="tm-about-box-1-title">Keith <span>( Co-Founder )</span></h3>
                    <p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="gray-text">
                        <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tm-about-box-1">
                    <a href="#"><img src="~/Images/img/about-6.jpg" alt="img" class="tm-about-box-1-img"></a>
                    <h3 class="tm-about-box-1-title">John <span>( General Manager )</span></h3>
                    <p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="gray-text">
                        <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tm-about-box-1">
                    <a href="#"><img src="~/Images/img/about-7.jpg" alt="img" class="tm-about-box-1-img"></a>
                    <h3 class="tm-about-box-1-title">Smith <span>( Manager )</span></h3>
                    <p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="gray-text">
                        <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Body Ends Here-->

    <script>
        jssor_1_slider_init();
    </script>

</body>
</html>
























