<html>
<head>
    <title>Confirmation Page</title>
</head>
<body style="background-color: rgb(80,200,170);">

    <!--Body Starts Here-->

    <div class="row" style="border:solid 1px;"></div>
    <div class="row" style="margin-top:1%;">
        <div class="row" style="border-bottom:solid gray; width:30%; margin-left: 35%;"></div>
        <div class="row text-center">
            <h3 id="special-h3">
                Confirm Your Reservation
            </h3>
        </div>
        <div class="row" style="border-top:solid gray; margin-bottom: 1%; width:30%; margin-left: 35%;"></div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="responsive">
                <div class="img">
                    <a target="_blank" href="Gallery/Exterior-arcadian-hotels-resortsShogran(Naran).jpg">
                        <img src="~/Gallery/Exterior-arcadian-hotels-resortsShogran(Naran).jpg">
                    </a>
                    <div class="desc">Exterior Arcadian Hotels Shogran (Naran)</div>
                </div>
            </div>

            <div class="responsive" style="border-right:solid 1px;">
                <label style="font-size:25px;">Hotel Name:</label>
                <p style="font-weight:bold;">
                    Exterior Arcadian Hotels Shogran (Naran)
                </p>
                <hr />
                <label style="font-size:25px;">Dates: </label>
                <p style="font-weight:bold;">
                    Arrival Date:
                    22-7-2016 Monday<br />
                    Departure Date:
                    24-7-2016 Tuesday
                </p>
            </div>
            <div class="responsive" style="border-right:solid 1px;">
                <label style="font-size:25px;">Room Type:</label>
                <p style="font-weight:bold;">
                    Double Suite Room
                </p>
                <hr />
                <label style="font-size:25px;">Guests: </label>
                <p style="font-weight:bold;">
                    Adults: 2<br />
                    Children: 2
                </p>
            </div>

            <div class="responsive">
                <label style="font-size:30px; text-decoration:underline;">Confirm It: </label>
                <p style="font-size:26px;">
                    Confirm Yor Reservation<br />
                    by clicking "Confirm" Bottun.<br />
                    <button class="btn btn-primary"> <a href="~/Eplanner/Index" style="text-decoration:none; color:white;">Confirm</a> </button>
                </p>

            </div>

        </div>
    </div>
<!--Body Ends Here-->
</body>
</html>
























