
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<html>
<head>
    <title>Confirmation Page</title>
    <link rel="stylesheet" href="~/Site.css">
    <script src="~/Site.js"></script>

    <script src="~/Slider/full-width-slider.slider/js/jssor.slider.min.js"></script>
    <link rel="stylesheet" href="~/Bootstrap/templatemo-style.css">


    <!--Bootsrtap Libraries-->
    <link rel="stylesheet" href="~/Bootstrap/bootstrap.min.css">
    <script src="~/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Bootstrap/jquery.js"></script>

    <!--JQuery UI Libraries-->
    <link rel="stylesheet" href="~/JQuery-UI/jquery-ui.css">
    <link rel="stylesheet" href="~/JQuery-UI/style.css">
    <script src="~/JQuery-UI/jquery-1.10.2.js"></script>
    <script src="~/JQuery-UI/jquery-ui.js"></script>

    <!--Online Libraries-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.min.css">

</head>
<body style="background-color: rgb(80,200,170);">
    <!--Start Header-->
    <header>
        <div class="navbar navbar-default" role="navigation" id="header">
            <div class="navbar-header" id="nav-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="#">
                    <span class="navbar-brand">
                        <span class="glyphicon glyphicon-tent"></span> ePlanner
                    </span>
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="main-ul">
                    <li id="main-li">
                        <a href="~/Eplanner/Index" id="main-a"><span class="glyphicon glyphicon-home padding-right-small"></span> Home</a>
                    </li>
                    <li id="main-li">
                        <a href="~/Eplanner/Reservation" id="main-a">
                            <span class="glyphicon glyphicon-briefcase padding-right-small"></span> Reservation
                        </a>
                    </li>
                    <li id="main-li">
                        <a href="~/Eplanner/About" id="main-a"><span class="glyphicon glyphicon-user padding-right-small"></span> About us</a>
                    </li>
                    <li id="main-li">
                        <a href="~/Eplanner/Contact" id="main-a"><span class="glyphicon glyphicon-phone-alt padding-right-small"></span> Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--End Header-->
    <div class="row" style="border:solid 1px;"></div>

    <!--Body Starts Here-->

    <div class="row" style="border:solid 1px;"></div>
    <div class="row" style="margin-top:1%;">
        <div class="row" style="border-bottom:solid gray; width:30%; margin-left: 35%;"></div>
        <div class="row text-center">
            <h3 id="special-h3">
                Confirm Your Reservation
            </h3>
        </div>
        <div class="row" style="border-top:solid gray; margin-bottom: 1%; width:30%; margin-left: 35%;"></div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="responsive">
                <div class="img">
                    <a target="_blank" href="~/Gallery/Exterior-arcadian-hotels-resortsShogran(Naran).jpg">
                        <img src="~/Gallery/Exterior-arcadian-hotels-resortsShogran(Naran).jpg">
                    </a>
                    <div class="desc">Exterior Arcadian Hotels Shogran (Naran)</div>
                </div>
            </div>

            <div class="responsive" style="border-right:solid 1px;">
                <label style="font-size:25px;">Hotel Name:</label>
                <p style="font-weight:bold;">
                    Exterior Arcadian Hotels Shogran (Naran)
                </p>
                <hr />
                <label style="font-size:25px;">Dates: </label>
                <p style="font-weight:bold;">
                    Arrival Date:
                    22-7-2016 Monday<br />
                    Departure Date:
                    24-7-2016 Tuesday
                </p>
            </div>
            <div class="responsive" style="border-right:solid 1px;">
                <label style="font-size:25px;">Room Type:</label>
                <p style="font-weight:bold;">
                    Double Suite Room
                </p>
                <hr />
                <label style="font-size:25px;">Guests: </label>
                <p style="font-weight:bold;">
                    Adults: 2<br />
                    Children: 2
                </p>
            </div>

            <div class="responsive">
                <label style="font-size:30px; text-decoration:underline;">Confirm It: </label>
                <p style="font-size:26px;">
                    Confirm Yor Reservation<br />
                    by clicking "Confirm" Bottun.<br />
                    <button class="btn btn-primary"> Confirm</button>
                </p>

            </div>

        </div>
    </div>


    <!--Body Ends Here-->
    <!--Start Footer-->
    <!--Social Medias Row Starts-->
    <div class="row" style="margin-top:2%;">
        <div class="row" style="border-bottom:solid gray; margin-top:1%; margin-left:36%; width:28%;"></div>
        <div class="row">
            <h3 class="text-center" style="font-family:cursive; "><i> Places Where you can Contact us: </i></h3>
            <div class="contact-social text-center">
                <a href="#" class="tm-social-icon tm-social-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-icon tm-social-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="tm-social-icon tm-social-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-icon tm-social-instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="tm-social-icon tm-social-google-plus"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>
    <!--Social Medias Row Starts-->

    <footer class="tm-black-bg" style="margin-top: 1%;">
        <div class="container">
            <div class="row">
                <p class="tm-copyright-text">
                    Copyright &copy; 2084 | ePlanner | Designed by <a href="#">4 Pointers</a>
                </p>
            </div>
        </div>
    </footer>
    <!--End Footer-->
</body>
</html>
























