<html>
<head>
    <title>Hotels</title>
</head>
<body style="background-color: rgb(80,200,170);">
    <!--Body Ends Here-->
    <div class="container-fluid">
        <div class="row">
            <div class="tm-section-header" style="margin-bottom:0%;">
                <div class="col-lg-3 col-md-3 col-sm-3"><hr style="margin-top:13%; margin-left:8%;"></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title" style="font-family:Legends;">Available Hotels in Lahore</h2></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><hr style="margin-top:13%; margin-left:%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tm-tours-box-1" id="hotel-div">
                    <a href="~/Eplanner/HotelDetail">
                        <img src="~/Images/Reservation/mazar-e-quaid-1.jpg" alt="image" class="img-responsive">
                    </a>
                    <div class="tm-tours-box-1-info" style="padding-bottom:0%;">
                        <div class="tm-tours-box-1-info" id="hotel-div1">
                            <a href="~/Eplanner/HotelDetail" style="color:black;">
                                <p id="hotel-para">Karachi</p>
                            </a>
                        </div>
                        <div class="tm-tours-box-1-info" id="hotel-div2">
                            <p>
                                <a href="~/Eplanner/HotelDetail">Rooms (150)</a>
                                <a href="~/Eplanner/HotelDetail">Address</a>
                                <a href="~/Eplanner/HotelDetail">Payment Options</a>
                                <a href="~/Eplanner/HotelDetail">Photos</a>
                                <a href="~/Eplanner/HotelDetail">Phone Number</a>
                                <a href="~/Eplanner/HotelDetail">Website</a>
                            </p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link text-center">
                        <a href="" data-toggle="modal" data-target="#room-book" class="tm-tours-box-1-link-left" id="hotel-a">
                            Click For Room Bookig
                        </a>
                        <a href="" data-toggle="modal" data-target="#event-book" class="tm-tours-box-1-link-right" id="hotel-a">
                            Click For Event Bookig
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="text-center">
            <ul class="pagination" style="border:solid 1px;">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Modal Form For Room Booking Starts Here -->
    <div id="room-book" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter Detail:</h4>
                </div>
                <div class="modal-body">
                    <form action="~/Eplanner/Confirmation">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6">
                                <label>Arrival Date: </label>
                                <div class="inner-addon right-addon" style="width:100%;">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <input type="date" class="form-control" placeholder="Search" />
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Departure Date: </label>
                                <div class="inner-addon right-addon" style="width:100%;">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <input type="date" class="form-control" placeholder="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6">
                                <div class="input-group">
                                    <label>Room Type: </label>
                                    <input list="room" name="room" class="form-control" placeholder="--Select Room Type--" style="width:100%;; border-radius:5px;">
                                    <datalist id="room">
                                        <option>Single Room</option>
                                        <option>Double Room</option>
                                        <option>Adjoing Room</option>
                                        <option>Studio Room</option>
                                        <option>Deluxe Room</option>
                                        <option>Club Room</option>
                                        <option>Executive Suite Room</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="input-group">
                                    <label>Guests: </label><br />
                                    <!--<div class="input-group-addon">Guests: </div>-->
                                    <input list="adults" name="adults" class="form-control" placeholder="--Adults--" style="width:240px; border-radius:5px;">
                                    <datalist id="adults">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6 & up</option>
                                    </datalist>
                                    <input list="children" name="children" class="form-control" placeholder="--Children--" style="width:240px; border-radius:5px;">
                                    <datalist id="children">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6 & up</option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Reserve My Room" class="btn btn-success" style="margin-left:43%;">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Form for Room Booing Ends Here -->
    <!-- Modal Form For Room Booking Starts Here -->
    <div id="event-book" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter Event Detail:</h4>
                </div>
                <div class="modal-body">
                    <form action="~/Eplanner/Confirmation">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6">
                                <label>Event Starting Date: </label>
                                <div class="inner-addon right-addon" style="width:100%;">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <input type="date" class="form-control" placeholder="Search" />
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Event Ending Date: </label>
                                <div class="inner-addon right-addon" style="width:100%;">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <input type="date" class="form-control" placeholder="Search" />
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Event Type: </label>
                                <input list="event" name="event" class="form-control" placeholder="--Select Event Type--" style="width:100%; border-radius:5px;">
                                <datalist id="event">
                                    <option>Conferences</option>
                                    <option>Seminar</option>
                                    <option>Meeting</option>
                                    <option>Team Building</option>
                                    <option>Trade Show</option>
                                    <option>Business Dinner</option>
                                    <option>Golf Event</option>
                                    <option>Press Conference</option>
                                    <option>Networking Event</option>
                                    <option>Incentive Travel</option>
                                    <option>Opening Ceremony</option>
                                    <option>Product Launch</option>
                                    <option>Theme Party</option>
                                    <option>VIP Event</option>
                                    <option>Trade Fair</option>
                                    <option>Annual Shareholder</option>
                                    <option>Award Ceremony</option>
                                    <option>Incentive Event</option>
                                    <option>Board Meeting</option>
                                    <option>Executie Retreat</option>
                                    <option>weddings</option>
                                    <option>birthday events</option>
                                    <option>wedding anniversaries</option>
                                    <option>family events</option>
                                    <option>OTHERS...</option>
                                </datalist>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Number Of Attendees: </label><br />
                                <input list="attendeees" name="attendeees" class="form-control" placeholder="--Attendeees--" style="width:105%; border-radius:5px;">
                                <datalist id="attendeees">
                                    <option>50</option>
                                    <option>100</option>
                                    <option>150</option>
                                    <option>200</option>
                                    <option>250</option>
                                    <option>300</option>
                                </datalist>
                            </div>
                        </div>
                        <input type="submit" value="Reserve My Event" class="btn btn-success" style="margin-left:43%;">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Form for Room Booing Ends Here -->




</body>
</html>
























